body {
    background-color: rgba(30, 37, 43, 1);
    font-family: Poppins;
    color: white;
}
.header-content-wrap{
    display: flex;
    justify-content: space-between;
}
.contact-list{
    display: flex;
    gap: 41px;
    align-items: center;
}
.nav-list{
    display: flex;
    gap: 20px;
}
.nav-list-link{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.55);
}
.nav-list-link-categories{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.55);
}
.nav-list-link-categories::after{
    content:"";
    display: inline-block;
    background-image: url("./photos/chevron-down.png");
    width: 18px;
    height: 18px;
}
.nav-list-item{
    padding-top: 38px;
}
.contacts-list-btn-login{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 0.78);
    background-color: transparent;
    margin-top: 28px;
}

.contacts-list-btn-signup{
    padding: 12px 28px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0em;
    color: white;
    background-color: #FF6E30;
    margin-top: 28px;
}
.logo::before{
    content:"";
    background-image: url(./photos/Group\ 159.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 19.29px;
    height: 20.95px;
    padding-right: 20px;
}
.logo{
    font-family: Poppins;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.9);
    padding-top: 34px;
}
.hero{
    padding-top: 58px;
    content: "";
    background-image: url("./photos/bg_hero.png");
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */
}
.container{
    width: 1224px;
    margin: 0 auto;
}
.hero-list-title{
    font-family: Poppins;
    font-size: 50px;
    font-weight: 500;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.9);
    width: 600px;
    height: 140px;
}
.hero-list-dot{
    font-size: 50px;
    font-weight: 500;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: left;
    color: #FF6E30;
}
.hero-list{
    padding-top: 121px;
    display: flex;
    gap: 30px;

}
.hero-list-search{
    background-color: transparent;
    font-size: 14px;
    width: 190px;
    height: 21px;
    padding-top: 13px;
    padding-bottom: 14px;
}
.hero-list-search-wrap::before{
    content: "";
    background-image: url("./photos/search\ \(4\).png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 13px;
}
.hero-list-search-wrap{
    display: flex;
    align-items: center;
    width: 468.56px;
    border-radius: 15px;
    background-color: rgba(40, 48, 54, 1);
    border: 1.5px solid rgba(255, 255, 255, 0.1);
    padding: 8px 14px;
}
.hero-list-description{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 60px;
    color: rgba(255, 255, 255, 0.55);
    width: 487px;
    height: 60px;
}
.hero-list-btn{
    width: 130.43px;
    height: 48px;
    border-radius: 8px;
    color: white;
    background-color: #FF6E30;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    margin-left: auto;
}
.popular-list{
    display: flex;
    justify-content: center;
}
.populartools-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 120px;
    row-gap: 25px;
    padding-bottom: 100px;
    padding-top: 90px;
}
.populartools-list-link{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 0.55);
    padding-left: 124px;
}
.popular-list-title{
    font-size: 48px;
    font-weight: 500;
    line-height: 62px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 0.9);
    width: 455px;
    height: 62px;
}
.populartools-list-title{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
}
.populartools-list-title-description{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    color: rgba(255, 165, 55, 0.55);
}
.popular-list-description{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 0.55);
    width: 427px;
    height: 60px;
    padding-top: 25px;
}
.populartools-list-description{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.55);
    padding-bottom: 30px;
    padding-top: 30px;
}
.popular-list-btn {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0em;
    border: 1px solid #FFFFFF1A;
    color: #FF6E30;
    padding: 17px 38px;
    border-radius: 8px;
    background-color: transparent;
    display: block;
    margin: 0 auto;
}
.populartools-list-img{
    width: 64px;
    height: 64px;
}
.popular-tools-list-wrap-img{
    display: flex;
}
.popular-tools-list-wrap{
    display: flex;
    flex-wrap: wrap;
    width: 76px;
    height: 66px;
    padding-left: 30px;
}
.popular-tools-list-wrap-2{
    width: 326px;
}
.popular-tools-list-wrap-long{
    display: flex;
    flex-wrap: wrap;
    width: 160px;
    height: 66px;
    padding-left: 30px;
}
.popular-tools-list-wrap-extra-long{
    width: 229px;
    padding-left: 30px;
}
.popular-tools-list-img{
    width: 48px;
    height: 48px;
    padding-top: 30px;
}
.populartools-list-item{
    max-width: 392px;
    max-height: 294px;
}

.brand-list-title{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 55px;
    padding-bottom: 55px;
    color: rgba(255, 255, 255, 0.8);
}
.brand-list-wrap{
    background-image: url("./photos/Rectangle\ 308.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 253px;
}
.brand-list{
    display: flex;
    justify-content: space-evenly;
    
}
.newcomer-list-item{
    flex-basis: calc((100% - 74px) / 2);
    width: 245px;
    height: 228px;
}
.newcomer-wrap{
    display: flex;
    gap: 197px;
}
.newcomer-list-title{
    font-family: Poppins;
    font-size: 48px;
    font-weight: 500;
    line-height: 62px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 0.8);
    padding-bottom: 30px;
}
.newcomer-list-wrap-1{
    display: flex;
    gap: 30px;
}
.newcomer-toolbar{
    display: flex;
    gap: 43px;
    align-items: center;
}
.newcomer-img-list{
    display: flex;
}
.newcomer-list-title2{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.55);
    padding-bottom: 60px;
    width: 427px;
}
.newcomer-list-description{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 30px;
    padding-top: 30px;
}
.newcomer-list-btn{
    width: 198px;
    height: 58px;
    border-radius: 8px;
    background-color: #FF6E30;
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
}
.newcomertools-list-title{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.78);
}
.newcomertools-list-description{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 165, 55, 0.55);
}
.newcomer-list-description{
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.55);
}
.newcomertools-list-link{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 0.55);
    
}
.newcomer-list-wrap{
    display: flex;
    flex-wrap: wrap;
    max-width: 118px;
    height: 66px;
}
.newcomer-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 50px;
    margin-left: 0 auto;
}

.testimonial-list-img::before{
    content:"";
    background-image: url(./photos/chevron-left.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 48px;
    height: 48px;
}
.testimonial-list-img{
    width: 399px;
    height: 492px;
    border: 1px;
}
/* .testimonial-text-title{
    font-size: 26px;
    font-weight: 500;
    line-height: 39px;
    letter-spacing: 0.015em;
    text-align: left;
}
.testimonial-text-description{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
} */
.team-desc{
    max-width: 393px;
    max-height: 180px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.015em;
    padding-left: 57px;
    color: rgba(255, 255, 255, 0.55);
}
.testimonial-list-description::before{
    background-image: url("./photos/coma.png");
    content: "";
    background-repeat: no-repeat;
    display: inline-block;
    width: 103px;
    height: 120px;
}
.team-chevron-right {
    width: 80px;
    height: 100px;
    border-radius: 8px;
    background-color: transparent;
    background-image: url("./photos/chevron-right.png");
    background-repeat: no-repeat;
    background-position: center;
}

.team-chevron-left {
    width: 80px;
    height: 100px;
    border-radius: 8px;
    background-color: transparent;
    background-image: url("./photos/chevron-left.png");
    background-repeat: no-repeat;
    background-position: center;
}
.team-content-wrap {
    display: flex;
    align-items: center;
    gap: 108px;
}
.main-content {
    display: flex;
    align-items: center;
}
.text-wrapper {
    width: 445px;
    height: 225px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-image: url("./photos/coma.png");
    background-repeat: no-repeat;
    margin-bottom: 100px;
}
.team-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 125px;
    gap: 18px;
}

.team-list-item:nth-child(2) {
    background-color: rgba(255, 110, 48, 1);
    height: 8px;
}

.team-list-item {
    width: 44px;
    height: 6px;
    background-color: rgba(40, 48, 54, 1);
    border-radius: 4px;
}

.join-list-title{
    font-size: 48px;
    font-weight: 500;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 0.78);
    padding-top: 250px;
}
.join-list-description{
    width: 427px;
    height: 60px;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.55);
    padding-bottom: 100px;
    padding-top: 25px;
    
}

.join{
    padding-bottom: 240px;
}
.join-list-search{
    background-color: transparent;
    font-size: 14px;
    width: 190px;
    height: 21px;
    padding-top: 13px;
    padding-bottom: 14px;
}
.join-list-search-wrap{
    display: flex;
    align-items: center;
    width: 512.56px;
    border-radius: 15px;
    background-color: rgba(40, 48, 54, 1);
    border: 1.5px solid rgba(255, 255, 255, 0.1);
    padding: 8px 16px;
    margin: 0 auto;
}
.join-list-btn{
    width: 130.43px;
    height: 48px;
    border-radius: 8px;
    color: white;
    background-color: #FF6E30;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    margin-left: auto;
}
.footer {
    padding-top: 70px;
    padding-bottom: 98px;
    border-top: 0.5px solid rgba(255, 255, 255, 0.15);
}

.footer-content-wrap {
    display: flex;
    gap: 156px;
}

.footer-logo-text {
    color: rgba(255, 255, 255, 0.90);
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 25px;
}
.footer-content-wrap{
    display: flex;
    flex-wrap: flex;
    gap: 115px;
}
.footer-copyright-title {
    color: rgba(255, 255, 255, 0.90);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 21px;
}

.footer-copyright-desc {
    width: 260px;
    color: rgba(255, 255, 255, 0.55);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 178.571% */
}
.footer-help {
    display: flex;
    gap: 115px;
}
.logo-list-copyright {
    color: rgba(255, 255, 255, 0.90);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 21px;
}

.logo-list-description {
    width: 260px;
    color: rgba(255, 255, 255, 0.55);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 178.571% */
}
.contacts-list-title {
    color: rgba(255, 255, 255, 0.90);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
}

.address-list-item {
    color: rgba(255, 255, 255, 0.55);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 10px;
}

.address-list-link {
    color: inherit;
}
.categories-list-item {
    margin-top: 10px;
}

.categories-title {
    color: rgba(255, 255, 255, 0.90);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
}

.categories-list-link {
    color: rgba(255, 255, 255, 0.55);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.info-list-item {
    margin-top: 10px;
}

.info-title {
    color: rgba(255, 255, 255, 0.90);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
}

.info-list-link {
    color: rgba(255, 255, 255, 0.55);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.logo-list{
    width: 260px;
    height: 183px;
}


.contacts-list-title{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.9);
    padding-bottom: 20px;
}
.contacts-list-link{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.55);
}
.categories-list-title{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.9);
    padding-bottom: 20px;
}
.categories-list-description{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.55);
}
.company-list-title{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.9);
    padding-bottom: 20px;
}
.company-list-description{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.55);
}
.brand{
    padding-top: 200px;
    padding-bottom: 56px;
}
.newcomer{
    padding-top: 200px;
    padding-bottom: 200px;
}
.popular{
    padding-top: 200px;
}
.footer-logo{
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 0.9);
    padding-left: 12px;
}
