body {
    background-color: rgba(30, 37, 43, 1);
    font-family: Poppins;
    color: white;
}
.header-content-wrap{
    display: flex;
    justify-content: space-between;
}
.contact-list{
    display: flex;
    gap: 41px;
    align-items: center;
}
.nav-list{
    display: flex;
    gap: 20px;
}
.nav-list-link{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.55);
}
.nav-list-link-categories{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.55);
}
.nav-list-link-categories::after{
    content:"";
    display: inline-block;
    background-image: url("./photos/chevron-down.png");
    width: 18px;
    height: 18px;
}
.nav-list-item{
    padding-top: 38px;
}
.contacts-list-btn-login{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 0.78);
    background-color: transparent;
}

.contacts-list-btn-signup{
    padding: 12px 28px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0em;
    color: white;
    background-color: #FF6E30;
}
.logo::before{
    content:"";
    background-image: url(./photos/Group\ 159.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 19.29px;
    height: 20.95px;
    padding-right: 20px;
}
.logo{
    font-family: Poppins;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.9);
    padding-top: 34px;
}
.hero{
    padding-top: 58px;
    content: "";
    background-image: url("./photos/bg_hero.png");
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */
}
.container{
    width: 1224px;
    margin: 0 auto;
}
.hero-list-title{
    font-family: Poppins;
    font-size: 50px;
    font-weight: 500;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.9);
    width: 600px;
    height: 140px;
}
.hero-list-dot{
    font-size: 50px;
    font-weight: 500;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: left;
    color: #FF6E30;
}
.hero-list{
    padding-top: 121px;
    display: flex;
    gap: 30px;

}
.hero-list-search{
    width: 190px;
    height: 21px;
    background-color: transparent;

}
.hero-list-search-wrap::before{
    content:"";
    background-image: url(./photos/searchicon.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 24.08px;
    height: 24;
    padding-right: 13px;
}
.hero-list-search-wrap{
    display: flex;
    align-items: center;
    gap: 111px;
    width: 497.66px;
    height: 64px;
    border-radius: 15px;
    background-color: rgba(40, 48, 54, 1);
}
.hero-list-description{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 60px;
    color: rgba(255, 255, 255, 0.55);
    width: 487px;
    height: 60px;
}
.hero-list-btn{
    width: 130.43px;
    height: 48px;
    border-radius: 8px;
    color: white;
    background-color: #FF6E30;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
}
.popular-list{
    display: flex;
    justify-content: center;
}
.populartools-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 120px;
    row-gap: 25px;
    padding-bottom: 100px;
    padding-top: 90px;
}
.populartools-list-link{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 0.55);
}
.popular-list-title{
    font-size: 48px;
    font-weight: 500;
    line-height: 62px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 0.9);
    width: 455px;
    height: 62px;
}
.populartools-list-title{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
}
.populartools-list-title-description{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    color: rgba(255, 165, 55, 0.55);
}
.popular-list-description{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 0.55);
    width: 427px;
    height: 60px;
}
.populartools-list-description{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}
.popular-list-btn {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0em;
    border: 1px solid #FFFFFF1A;
    color: #FF6E30;
    padding: 17px 38px;
    border-radius: 8px;
    background-color: transparent;
    display: block;
    margin: 0 auto;
}
.popular-tools-list-wrap{
    width: 326px;
    height: 228px ;
    border-radius: 8px;
}

.brand-list-title{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 55px;
    padding-bottom: 55px;
}
.brand-list-wrap{
    background-image: url("./photos/Rectangle\ 308.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 253px;
}
.brand-list{
    display: flex;
    justify-content: space-evenly;
    
}
.newcomer-list-item{
    width: 288px;
    height: 284px;

}
.newcomer-list-title{
    font-family: Poppins;
    font-size: 48px;
    font-weight: 500;
    line-height: 62px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 0.8);
    padding-bottom: 30px;
}
.newcomer-list-title2{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.55);
    padding-bottom: 60px;
    width: 427px;
}
.newcomer-list-description{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}
.newcomer-list-btn{
    width: 198px;
    height: 58px;
    border-radius: 8px;
    background-color: #FF6E30;
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
}
.newcomertools-list-title{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.78);
}
.newcomertools-list-description{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 165, 55, 0.55);
}
.newcomer-list-description{
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.55);
}
.newcomertools-list-link{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.55);
    width: 106px;
    height: 42px;
}
.newcomertools-list-link:hover{
    width: 106px;
    height: 42px;
   
    background-color: #FF6E30;
    color: white;
}

.newcomer-list{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 638px;
}
.newcomer-list-wrap{
    width: 245px;
    height: 228px;
}
.testimonial-list-img::before{
    content:"";
    background-image: url(./photos/chevron-left.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 48px;
    height: 48px;
}
.testimonial-list-img{
    width: 399px;
    height: 492px;
    border: 1px;
}
/* .testimonial-text-title{
    font-size: 26px;
    font-weight: 500;
    line-height: 39px;
    letter-spacing: 0.015em;
    text-align: left;
}
.testimonial-text-description{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
} */
.testimonial-list-description{
    max-width: 393px;
    max-height: 180px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.015em;
}
.join-list-title{
    font-size: 48px;
    font-weight: 500;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 0.78);
}
.join-list-description{
    width: 427px;
    height: 60px;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 0.55);
}

.join{
    padding-bottom: 240px;
}
.footer-content-wrap{
    /* display: flex;
    flex-wrap: flex;
    gap: 115px; */
}
.contacts-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.categories-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.company-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.logo-list{
    width: 260px;
    height: 183px;
}
.logo-list-copyright{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.9);
    padding-top: 25px;
    padding-bottom: 21px;
}
.logo-list-description{
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.55);
}
.contacts-list-title{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.9);
    padding-bottom: 20px;
}
.contacts-list-link{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.55);
}
.categories-list-title{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.9);
    padding-bottom: 20px;
}
.categories-list-description{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.55);
}
.company-list-title{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.9);
    padding-bottom: 20px;
}
.company-list-description{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.55);
}
.brand{
    padding-top: 55px;
    padding-bottom: 56px;
}
.newcomer{
    padding-top: 200px;
    padding-bottom: 200px;
}
.popular{
    padding-top: 200px;
}
.footer-logo{
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 0.9);
    padding-left: 12px;
}
